@model  Web.Smartway.Areas.Mantenimiento.Models.ProductoxRepuestoModel


<form id="frmRepuestoReparacion" action="/" method="post">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        @*<i class="fa fa-users fa-4x"></i>*@
        <h4 class="modal-title">Asociar repuestos a productos</h4>
        <small class="font-bold">Digitar los datos necesarios para el registro.</small>
    </div>

    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="panel panel-danger">
                    <div class="panel-body">

                        @Html.ListBoxFor(m => m.RepuestosSeleccionados, Model.ListaRepuestos, new { multiple = "multiple" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn  btn-primary btn-sm" onclick="RegistrarRepuestosxProducto()" data-dismiss="modal"><i class="fa fa-save"></i>  Guardar </button>
    </div>
    @Html.HiddenFor(x => x.idproducto)
</form>