@model Web.Smartway.Areas.Agendamiento.Models.SolucionModel

@{
    ViewBag.Title = "Pendiente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Propuesta Evaluación</h2>
        <p>@Model.BuildRoot(@Model.idincidencia) </p>

    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    Debe completar los pasos previos
</div>