@model  QueryContracts.Smartway.Seguridad.Results.TraerPantallaDto

@{
    ViewBag.Title = "EditarPantalla";
}

@using (Html.BeginForm("ActualizarSeguridad", "Seguridad", FormMethod.Post, new { encType = "multipart/form-data", name = "newProdutForm", @class = "form-group" }))
{

    <h2>Editar Pantalla</h2>
    <br />
    <br />
    <table>
        <tr>
            <td>Descripción: </td>
            <td>@Html.TextBoxFor(model => model.pag_str_descrip)</td>
        </tr>
        <tr>
            <td>Alias: </td>
            <td>@Html.TextBoxFor(model => model.pag_str_alias)</td>
        </tr>
    </table>
    <br />
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Actualizar</button>
        <button type="submit" class="btn btn-primary">Cancelar</button>
    </div>
    @*<fieldset>
            <button id='newProduct1' onclick="location.href='@Url.Action("Actualizar", "Seguridad")'" class="btn btn-primary">Actualizar</button>
            <button id='newProduct2' onclick="location.href='@Url.Action("Pantalla", "Seguridad")'" class="btn btn-primary">Cancelar</button>
        </fieldset>*@

}