@{
    ViewBag.Title = "Nuevo Control";
}

<h2>NuevoControl</h2>
<br />
<br />

<table>
    <tr>
        <td>Descripción: </td>
        <td>@Html.TextBox("txtDescNuevControl", "")</td>
    </tr>
    <tr>
        <td>Comentario: </td>
        <td>@Html.TextBox("txtComentNuevControl", "")</td>
    </tr>
</table>
<br />
<fieldset>
    <button id='newProduct1' onclick="location.href='@Url.Action("Agregar", "Seguridad")'" class="btn btn-primary">Agregar</button>
    <button id='newProduct2' onclick="location.href='@Url.Action("Control", "Seguridad")'" class="btn btn-primary">Regresar</button>
</fieldset>