@model   QueryContracts.Smartway.Seguridad.Results.TraerPantallaDto
@{
    ViewBag.Title = "NuevaPantalla";
}

<h2>Nueva Pantalla</h2>
<br />
<br />

<table>
    <tr>
        <td>Descripción: </td>
        <td>@Html.DisplayTextFor(model => model.pag_str_descrip)</td>
    </tr>
    <tr>
        <td>Alias: </td>
        <td>@Html.TextBox("txtComentNuevPantalla", "")</td>
    </tr>
</table>
<br />
<fieldset>
    <button id='newProduct1' onclick="location.href='@Url.Action("Agregar", "Seguridad")'" class="btn btn-primary">Agregar</button>
    <button id='newProduct2' onclick="location.href='@Url.Action("Control", "Seguridad")'" class="btn btn-primary">Regresar</button>
</fieldset>